In [9]:
import pandas as pd

In [5]:
df = pd.DataFrame([[2016, 2.8, '1.637M'], 
       [2017, 3.1, '1.73M'],
       [2018, 3.0, '1.83M']], columns = ['year', 'GDP rate', 'GDP'])

In [6]:
df

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

In [7]:
df.loc[df['year'] >= 2017]

   year  GDP rate    GDP
1  2017       3.1  1.73M
2  2018       3.0  1.83M

In [13]:
df['GDP rate'].sum()

8.9

In [14]:
df['GDP rate'].mean()

2.966666666666667

In [10]:
df = pd.read_csv('data/iris.csv')

In [11]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
condition1 = df['Species'] == 'Iris-setosa'
condition2 = df['Species'] == 'Iris-versicolor'
condition3 = df['Species'] == 'Iris-virginica'

In [17]:
df.loc[condition1, 'SepalLengthCm'].mean(), df.loc[condition1, 'SepalWidthCm'].mean(), df.loc[condition1, 'PetalLengthCm'].mean(), df.loc[condition1, 'PetalWidthCm'].mean()

(5.006, 3.418, 1.464, 0.244)

In [18]:
df.loc[condition2, 'SepalLengthCm'].mean(), df.loc[condition2, 'SepalWidthCm'].mean(), df.loc[condition2, 'PetalLengthCm'].mean(), df.loc[condition2, 'PetalWidthCm'].mean()

(5.936, 2.7700000000000005, 4.26, 1.3259999999999998)

In [19]:
df.loc[condition3, 'SepalLengthCm'].mean(), df.loc[condition3, 'SepalWidthCm'].mean(), df.loc[condition3, 'PetalLengthCm'].mean(), df.loc[condition3, 'PetalWidthCm'].mean()

(6.587999999999998, 2.974, 5.5520000000000005, 2.0260000000000002)

In [20]:
df.groupby('Species')[['SepalLengthCm', 'SepalWidthCm']].mean() *2.5

                 SepalLengthCm  SepalWidthCm
Species
Iris-setosa             12.515         8.545
Iris-versicolor         14.840         6.925
Iris-virginica          16.470         7.435

In [21]:
df.groupby('Species')[['PetalLengthCm', 'PetalWidthCm']].mean() *2.5

                 PetalLengthCm  PetalWidthCm
Species
Iris-setosa               3.66         0.610
Iris-versicolor          10.65         3.315
Iris-virginica           13.88         5.065